*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    background-color: #1F2937;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}
.navbar{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 90px;
    
    justify-content: space-around;   
}
nav{
    padding: 20px;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}
h2{
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding-right: 4px;
}
.row{
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 130px;
    margin-top: 80px;
}
.col{
    flex-basis: 50%;
}
h1{
    font-size: 48px;
    border: 0 solid ;
    color: #F9FAF8;
}
.p{
    font-size: 18px;
    line-height: 15px;
    color:#F9FAF8;
}
.button{
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 0;
    background-color: #3882F6;
    border: 0;
    border-radius: 12px;
    outline: none;
    margin-top: 10px;
}
.card{
    width: 500px;
    height: 230px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 90px;
    font-size: 18px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-color: #646870;
    text-align: center;
}

.header{
    height: 70%;
    width: 100%;
}
.info{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    padding: 20px;
}
.cols{
    display: flex;
    justify-content: center;
}

.cards{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 36px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-color: inherit;
    border: 5px solid #3882F6;
    

}
.subtext{
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}


.quote_section{
    background-color:  #E5E7EB;
    width: 100%;
    height: 350px;
    padding: 60px;
    /* text-align: center;
    justify-content: center; */
    

}
.quote{
    font-size: 36px;
    padding: 40px 30px ;
    margin: 20px;
    color: #1F2937;
    text-align: center;
    align-items: center;
    

}
.thor{
    color: #000;
    font-weight: bold;
    float: right;
    padding: 30px;
    font-size: 24px;
}
.action_section{
    background-color: #F9FAF8 ;
    width: 100%;
    height: 50%;
    padding: 50px;
   
}
.action{
    text-align: center;
    background-color: #3882F6;
    color: white;
    padding: 30px;
    padding-right: 50%;
    justify-content: space-between;
    border: 2px;
}
.action h4{
    font-size: 36px;
    font-weight: bold;
}
.text{
    color: rgb(224, 220, 220);
    font-size: 15px;
}
.direct{
  
    float: right;
    padding-left: 100px;
}
.btn{
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px ;
    background-color: #3882F6;
    border: 2px solid #fff;
    border-radius: 12px;
    outline: none;
    /* margin-top: 10px; */
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px bold;
}